.footer{
  background-color: var(--might-dark);
  width: 100vw;
  padding: 7px;
  &-logo{
    width: 129px;
    height: 96px;
  }
  & > .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
  }
}

nav{
  display: flex;
  align-items: center;
}

.page-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  & > li{
    margin-top: 10px;
  }
  & > li > a{
    border-bottom: 1px solid transparent;
    transition: .25s;
    &:hover{
      border-bottom: 1px solid var(--white-color);
      transition: .5s;
    }
  }
}





