<div class="header">
    <div class="wrapper">
    <a routerLink="/about" class="header-logo">
      <img class="header-logo__link"
           src="/assets/images/Frostlogo.svg"
           alt="Frost logo"/>
    </a>
    <nav>
      <ul class="navbar">
        <li><a [routerLink]="['/contact']">Контакты</a></li>
        <li><a [routerLink]="['/about']">О нас</a></li>
        <li><a [routerLink]="['/reviews']">Отзывы</a></li>
        <li><a [routerLink]="['/forDirectives']">forDirectives</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a  *ngIf="booleanValue"routerLink="/profile" class="blue-btn">Профиль</a>
      <button *ngIf="booleanValue"
              class="blue-btn gray-btn"
              (click)="exit()">Выйти из аккаунта
      </button>
      <a *ngIf="!booleanValue" routerLink="/signIn" class="blue-btn">Вход</a>
      <a *ngIf="!booleanValue" routerLink="/signUp" class="blue-btn">Регистрация</a>
    </div>
  </div>
</div>
