<div class="wrapper">
  <div class="modal-wrapper">
    <p class="modal-title">
      Регистрация учетной записи
    </p>
    <div class="field-block">
      <input class="field" type="text" placeholder="Имя" (input)="onNameChange($event)">
      <input class="field" type="email" placeholder="Адрес" (input)="onEmailChange($event)">
      <input class="field" type="password" placeholder="Пароль" (input)="onPasswordChange($event)">
    </div>
    <p [ngClass]="{error: isGood }">Error</p>

    <button (click)="check()" class="blue-btn btn-right">Зарегистрироваться</button>
  </div>

</div>
