<div class="wrapper">
  <div class="reviews-wrapper">
    <h2>Отзывы</h2>
    <div class="review">
      <h3>Отличное приложение!</h3>
      <p>Я действительно наслаждаюсь использованием этого приложения. Оно очень удобное и полезное для моих потребностей.</p>
      <p> - Иван Петров</p>
    </div>
    <div class="review">
      <h3>Спасибо за вашу работу!</h3>
      <p>Отличный сервис с отличным обслуживанием клиентов. Я очень доволен своим опытом!</p>
      <p> - Анна Иванова</p>
    </div>
    <div class="review">
      <h3>Просто потрясающе!</h3>
      <p>Это лучшее приложение, которое я когда-либо использовал. Оно упростило мою жизнь и сэкономило мне много времени.</p>
      <p> - Петр Сидоров</p>
    </div>
    <div class="review">
      <h3>Отличный выбор!</h3>
      <p>Я с удовольствием рекомендую это приложение всем своим друзьям. Они также были впечатлены его функциональностью и удобством.</p>
      <p> - Елена Козлова</p>
    </div>
    <div class="review">
      <h3>Очень полезно!</h3>
      <p>С этим приложением я могу легко управлять своими задачами и организовывать свое время. Очень удобно и эффективно!</p>
      <p> - Алексей Иванов</p>
    </div>
    <div class="review">
      <h3>Превосходно!</h3>
      <p>Благодаря этому приложению я стал более организованным и эффективным. Очень рекомендую его!</p>
      <p> - Ольга Смирнова</p>
    </div>
  </div>

</div>
