<div class="wrapper profile-wrapper">
  <ng-form class="profile-left">
    <img [src]="setPhoto" alt="Your icon">
    <input type="file" accept="image/*" class="fileInput" (change)="onFileSelected($event)" >
    <button class="blue-btn btnSave" (click)="sendPhoto()">Сохранить</button>
  </ng-form>


  <div class="profile-right">
    <p style="color: black">Ваше имя: {{name}}</p>
    <p style="color: black">Ваша фамилия: {{lastName}}</p>
    <p style="color: black">Ваш email: {{email}}</p>
    <p style="color: black">Ваши хобби: {{hobbies}}</p>
    <p style="color: black">Ваш email: {{phone}}</p>
  </div>
</div>
